{
  "/": {
    "path": "/",
    "security": {
      "module": "NONE",
      "classPath": [
        "${webswing.rootDir}/security/*"
      ],
      "config": {
        "welcomeMessage": "Welcome",
        "randomUsername": false
      },
      "securityContextPerTab": false
    },
    "langFolder": "${webswing.configDir}/lang",
    "homeDir": "${user.dir}",
    "webSecurity": {
      "contentSecurityPolicy": "default-src \u0027self\u0027 data:; script-src \u0027self\u0027 blob:; connect-src \u0027self\u0027 ws: wss: data: blob:; worker-src \u0027self\u0027 blob:; media-src \u0027self\u0027 blob: data:; frame-src \u0027self\u0027 blob: https://www.youtube.com https://www.openstreetmap.org; img-src \u0027self\u0027 data: https://tile.openstreetmap.org",
      "XContentTypeOptions": "nosniff",
      "XFrameOptions": "SAMEORIGIN",
      "XXSSProtection": "1; mode\u003dblock",
      "referrerPolicy": "strict-origin-when-cross-origin",
      "strictTransportSecurity": "max-age\u003d63072000; includeSubDomains; preload",
      "cookieSameSite": "None",
      "forceSecureCookie": false
    },
    "adminConsoleUrl": "${webswing.admin.url}",
    "webFolder": "${webswing.rootDir}/apps/treelibreloader",
    "webHomeDir": "${user.dir}",
    "restrictedResources": [],
    "restUsers": [],
    "dataStore": {
      "module": "INHERITED",
      "config": {}
    }
  },
  "/treelibre": {
    "path": "/treelibre",
    "name": "TreeLibre",
    "enabled": true,
    "webHomeDir": "${user.dir}",
    "webFolder": "",
    "restrictedResources": [],
    "fileViewers": [],
    "langFolder": "",
    "security": {
      "module": "INHERITED",
      "config": {},
      "authorizationConfig": {
        "users": [],
        "roles": []
      }
    },
    "sessionMode": "CONTINUE_FOR_BROWSER",
    "maxClients": "1",
    "maxClientsPerUser": "-1",
    "allowStealSession": true,
    "autoLogout": true,
    "monitorEdtEnabled": true,
    "loadingAnimationDelay": 2,
    "recordingAllowed": true,
    "recordingConsentRequired": false,
    "mirroringAllowed": true,
    "mirroringConsentRequired": false,
    "uploadMaxSize": 5,
    "dataStore": {
      "module": "INHERITED",
      "config": {}
    },
    "bootstrapOptions": [],
    "swingConfig": {
      "allowUpload": true,
      "allowDownload": true,
      "isolatedFs": true,
      "sessionLogging": false,
      "allowJsLink": false,
      "javaFx": false,
      "launcherType": "Desktop",
      "timeoutIfInactive": false,
      "prelaunchType": "NONE",
      "homeDir": "${webswing.rootDir}/apps/TreeLibre",
      "theme": "",
      "directdraw": false,
      "debug": false,
      "testMode": false,
      "userDir": "",
      "jreExecutable": "${java.home}/bin/java",
      "javaVersion": "${java.version}",
      "launcherConfig": {
        "mainClass": "org.hexaredecimal.treestudio.Launcher",
        "args": "web"
      },
      "swingSessionTimeout": 300,
      "idleInstancesCount": 0,
      "allowStatisticsLogging": true,
      "allowDelete": true,
      "allowAutoDownload": true,
      "transparentFileOpen": true,
      "transparentFileSave": true,
      "transferDir": "${user}/upload",
      "clearTransferDir": true,
      "threadDumpsFolder": "${webswing.rootDir}/datastore/dumps",
      "recordingsFolder": "${webswing.rootDir}/datastore/recordings",
      "allowLocalClipboard": true,
      "allowServerPrinting": false,
      "fontEmbeddingEnabled": false,
      "dockMode": "NONE",
      "dockType": "POPUP",
      "multiScreenSupportEnabled": false,
      "advancedSettings": [],
      "classPathEntries": [
        "*.jar"
      ],
      "enabled": true,
      "javaFxVersion": "11",
      "sessionLogFileSize": "${webswing.sessionLog.size:-10MB}",
      "sessionLogMaxFileSize": "${webswing.sessionLog.maxSize:-1000MB}",
      "javaFxEmbeddedInJdk": false,
      "inactivityAction": "SHUTDOWN"
    }
  }
}